<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{{ url_for('static',filename='css/homepage.css') }}">
	</head>
	<body>
		<h1 class="MainHeading">Home Page Heading</h1>
		<p>This is some random text on the main homepage of our custom Flask website</p>
	</body>
</html>