{% extends 'base.html' %}
{% set active_page = "lists" %}

{% block head %}
		<title>My Todo Lists</title>
		
		<link rel="stylesheet" href="{{ url_for('static',filename='css/showlists.css') }}">
{% endblock %}
{% block body %}
		<div class="container-sm mt-4 centered">
			<h1 class="MainHeading">Available Todo Lists:</h1>

			<ul id="TodoList">
				{% for item in todolists %}
					<li><a href="{{url_for('routes.viewList',listid=item.id)}}">{{item.name}}</a></li>
				{% endfor %}
			</ul>

			<a href="{{url_for('routes.addList')}}" class="btn btn-success">Create A New Todo List</a>
		</div>
{% endblock %}
