<!DOCTYPE html>
<html>
	<head>
		<title>My Todo Lists</title>
		
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{{ url_for('static',filename='css/showlists.css') }}">
	</head>
	<body>
		<div class="container-sm mt-4 centered">
			<h1 class="MainHeading">Available Todo Lists:</h1>

			<ul id="TodoList">
				{% for item in todolists %}
					<li><a href="{{url_for('routes.viewList',listid=item.id)}}">{{item.name}}</a></li>
				{% endfor %}
			</ul>

			<a href="{{url_for('routes.addList')}}" class="btn btn-success">Create A New Todo List</a>
		</div>
	</body>
</html>