{% extends 'base.html' %}
{% set active_page = "viewlist" %}

{% block head %}
		<title>Edit List</title>

		<link rel="stylesheet" href="{{ url_for('static',filename='css/viewlist.css') }}">
{% endblock %}

{% block body %}
		<div class="container-sm mt-4 centered">
			{% include 'notify.html' %}
			<h1 class="MainHeading">{{todolist.name}}</h1>
			<p>Add some things to your list!</p>

			<input placeholder="Add an item to your todo list!" id="NewItemInput">
			<button class="btn btn-success ml-4" id="AddItem">Add Item</button>
			
			<ul id="TodoList">
				{% for item in todolist.items %}
					<li>
						<div class="item-value" id="{{item.id}}">{{item.description}}</div>

						<div style="display:none" class="edit-item" id="EDIT-{{item.id}}">
							<input id="INPUT-{{item.id}}" class="todo-item" value="">
							<button id="SAVE-{{item.id}}" class="btn btn-primary">Save</button>
							<button id="CANCEL-{{item.id}}" class="btn btn-danger">Cancel</button>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<script>
			$("#AddItem").click(function(){
				var NewItemDescription = $("#NewItemInput").val()
				window.location.href="{{url_for('routes.addItem',listid=todolist.id,item='')}}"+NewItemDescription
			})

			$(".item-value").click(function(){
				
				$(".edit-item").css({"display":"none"})
				$(".item-value").css({"display":"inline-block"})

				var itemDescriptionEle = $(this)
				var itemNum = itemDescriptionEle.attr('id')
				var itemChangeEle = $("#INPUT-"+itemNum)

				itemDescriptionEle.css({"display":"none"})
				itemChangeEle.val(itemDescriptionEle.text())

				$("#EDIT-"+itemNum).css({"display":"inline-block"})

				$("#CANCEL-"+itemNum).click({num:itemNum},closeEdit)
				$("#SAVE-"+itemNum).click({num:itemNum},saveEdit)
			})

			function closeEdit(event){
				var itemNum = event.data.num

				$("#EDIT-"+itemNum).css({"display":"none"})
				$("#"+itemNum).css({"display":"inline-block"})
			}

			function saveEdit(event){
				var itemNum = event.data.num
				var newValue = $("#INPUT-"+itemNum).val()

				$.get("/API/editItem/"+itemNum+"/"+newValue,
				function(data){
					//Runs when the request is completed
					$("#EDIT-"+itemNum).css({"display":"none"})
					$("#"+itemNum).text(newValue)
					$("#"+itemNum).css({"display":"inline-block"})
				}).fail(function(){
					alert("error")
				})

			}
		</script>
{% endblock %}