{% extends 'base.html' %}
{% set active_page = "viewlist" %}

{% block head %}
		<title>Edit List</title>

		<link rel="stylesheet" href="{{ url_for('static',filename='css/viewlist.css') }}">
{% endblock %}

{% block body %}
		<div class="container-sm mt-4 centered">
			<h1 class="MainHeading">{{todolist.name}}</h1>
			<p>Add some things to your list!</p>

			<input placeholder="Add an item to your todo list!" id="NewItemInput">
			<button class="btn btn-success ml-4" id="AddItem">Add Item</button>
			
			<ul id="TodoList">
				{% for item in todolist.items %}
					<li>{{item.description}}</li>
				{% endfor %}
			</ul>
		</div>
		<script>
			$("#AddItem").click(function(){
				var NewItemDescription = $("#NewItemInput").val()
				window.location.href="{{url_for('routes.addItem',listid=todolist.id,item='')}}"+NewItemDescription
			})
		</script>
{% endblock %}